-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: 5.161.72.79    Database: relicbot
-- ------------------------------------------------------
-- Server version	8.0.45-0ubuntu0.22.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `analytics_state`
--

DROP TABLE IF EXISTS `analytics_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analytics_state` (
  `KeyName` varchar(50) NOT NULL,
  `IntValue` bigint DEFAULT NULL,
  `StrValue` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`KeyName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badges` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) NOT NULL,
  `EmojiID` bigint NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `botdata`
--

DROP TABLE IF EXISTS `botdata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `botdata` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(20) NOT NULL,
  `Value` varchar(20) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `filterrelicconstraints`
--

DROP TABLE IF EXISTS `filterrelicconstraints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `filterrelicconstraints` (
  `FilterID` int NOT NULL,
  `RelicID` int NOT NULL,
  PRIMARY KEY (`FilterID`,`RelicID`),
  KEY `RelicID` (`RelicID`),
  CONSTRAINT `filterrelicconstraints_ibfk_1` FOREIGN KEY (`FilterID`) REFERENCES `recruitmentfilters` (`FilterID`),
  CONSTRAINT `filterrelicconstraints_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fissures`
--

DROP TABLE IF EXISTS `fissures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fissures` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(20) NOT NULL,
  `DefaultFissure` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `globalblacklist`
--

DROP TABLE IF EXISTS `globalblacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `globalblacklist` (
  `BlacklistID` int NOT NULL,
  PRIMARY KEY (`BlacklistID`),
  CONSTRAINT `globalblacklist_ibfk_1` FOREIGN KEY (`BlacklistID`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostlistextras`
--

DROP TABLE IF EXISTS `hostlistextras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostlistextras` (
  `HostListID` int NOT NULL,
  `HostListRowID` tinyint unsigned NOT NULL,
  `Style` varchar(10) NOT NULL,
  `Cycles` tinyint DEFAULT NULL,
  `UserMessage` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`HostListID`,`HostListRowID`),
  CONSTRAINT `hostlistextras_ibfk_1` FOREIGN KEY (`HostListID`) REFERENCES `hostlists` (`HostListID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostlistrefinements`
--

DROP TABLE IF EXISTS `hostlistrefinements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostlistrefinements` (
  `HostListID` int NOT NULL,
  `HostListRowID` tinyint unsigned NOT NULL,
  `RefinementID` int NOT NULL,
  `Offcycle` tinyint NOT NULL,
  PRIMARY KEY (`HostListID`,`HostListRowID`,`RefinementID`,`Offcycle`),
  KEY `RefinementID` (`RefinementID`),
  CONSTRAINT `hostlistrefinements_ibfk_1` FOREIGN KEY (`HostListID`) REFERENCES `hostlists` (`HostListID`),
  CONSTRAINT `hostlistrefinements_ibfk_2` FOREIGN KEY (`RefinementID`) REFERENCES `refinement` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostlistrelics`
--

DROP TABLE IF EXISTS `hostlistrelics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostlistrelics` (
  `HostListID` int NOT NULL,
  `HostListRowID` tinyint unsigned NOT NULL,
  `RelicID` int NOT NULL,
  `Offcycle` tinyint NOT NULL,
  PRIMARY KEY (`HostListID`,`HostListRowID`,`RelicID`,`Offcycle`),
  KEY `RelicID` (`RelicID`),
  CONSTRAINT `hostlistrelics_ibfk_1` FOREIGN KEY (`HostListID`) REFERENCES `hostlists` (`HostListID`),
  CONSTRAINT `hostlistrelics_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostlists`
--

DROP TABLE IF EXISTS `hostlists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostlists` (
  `HostListID` int NOT NULL AUTO_INCREMENT,
  `MemberID` int NOT NULL,
  `HostListName` varchar(100) NOT NULL,
  `HostListDescription` varchar(255) DEFAULT NULL,
  `Era` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`HostListID`),
  UNIQUE KEY `HostListName` (`HostListName`,`MemberID`),
  KEY `MemberID` (`MemberID`),
  CONSTRAINT `hostlists_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostreputation`
--

DROP TABLE IF EXISTS `hostreputation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostreputation` (
  `HostID` bigint NOT NULL,
  `Day` bigint unsigned NOT NULL DEFAULT '0',
  `Week` bigint unsigned NOT NULL DEFAULT '0',
  `Month` bigint unsigned NOT NULL DEFAULT '0',
  `ThreeMonth` bigint unsigned NOT NULL DEFAULT '0',
  `SixMonth` bigint unsigned NOT NULL DEFAULT '0',
  `Year` bigint unsigned NOT NULL DEFAULT '0',
  `AllTime` bigint unsigned NOT NULL DEFAULT '0',
  `LastUpdate` int NOT NULL,
  PRIMARY KEY (`HostID`),
  CONSTRAINT `hostreputation_fk_host` FOREIGN KEY (`HostID`) REFERENCES `hosts` (`HostID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hosts`
--

DROP TABLE IF EXISTS `hosts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hosts` (
  `HostID` bigint NOT NULL AUTO_INCREMENT,
  `SignatureHash` binary(32) NOT NULL,
  `Display` varchar(1024) NOT NULL,
  `Style` varchar(10) DEFAULT NULL,
  `CreatedAt` bigint NOT NULL,
  PRIMARY KEY (`HostID`),
  UNIQUE KEY `uq_hosts_signature` (`SignatureHash`),
  KEY `idx_hosts_style` (`Style`)
) ENGINE=InnoDB AUTO_INCREMENT=11292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `leaderboards`
--

DROP TABLE IF EXISTS `leaderboards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leaderboards` (
  `MessageID` bigint NOT NULL,
  `ServerID` int NOT NULL,
  `ChannelID` bigint NOT NULL,
  `Type` varchar(10) DEFAULT NULL,
  `Timeframe` varchar(10) DEFAULT NULL,
  `Amount` int DEFAULT NULL,
  PRIMARY KEY (`MessageID`),
  KEY `ServerID` (`ServerID`),
  CONSTRAINT `leaderboards_ibfk_1` FOREIGN KEY (`ServerID`) REFERENCES `servers` (`ServerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `linkedrelics`
--

DROP TABLE IF EXISTS `linkedrelics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `linkedrelics` (
  `RelicID` int NOT NULL,
  `LinkedRelicID` int NOT NULL,
  PRIMARY KEY (`RelicID`,`LinkedRelicID`),
  KEY `LinkedRelicID` (`LinkedRelicID`),
  CONSTRAINT `linkedrelics_ibfk_1` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`),
  CONSTRAINT `linkedrelics_ibfk_2` FOREIGN KEY (`LinkedRelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberblacklist`
--

DROP TABLE IF EXISTS `memberblacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberblacklist` (
  `BlacklistID` int NOT NULL,
  `MemberID` int NOT NULL,
  PRIMARY KEY (`BlacklistID`,`MemberID`),
  KEY `MemberID` (`MemberID`),
  CONSTRAINT `memberblacklist_ibfk_1` FOREIGN KEY (`BlacklistID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberblacklist_ibfk_2` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberdefaults`
--

DROP TABLE IF EXISTS `memberdefaults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberdefaults` (
  `MemberID` int NOT NULL,
  `RelicID` int NOT NULL,
  `DefaultStyle` varchar(10) DEFAULT '4b4r',
  PRIMARY KEY (`MemberID`,`RelicID`),
  KEY `RelicID` (`RelicID`),
  CONSTRAINT `memberdefaults_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberdefaults_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberfissures`
--

DROP TABLE IF EXISTS `memberfissures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberfissures` (
  `MemberID` int NOT NULL,
  `ID` int NOT NULL,
  PRIMARY KEY (`MemberID`,`ID`),
  KEY `ID` (`ID`),
  CONSTRAINT `memberfissures_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberfissures_ibfk_2` FOREIGN KEY (`ID`) REFERENCES `fissures` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberfriends`
--

DROP TABLE IF EXISTS `memberfriends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberfriends` (
  `MemberID1` int NOT NULL,
  `MemberID2` int NOT NULL,
  `SquadsTogether` int NOT NULL DEFAULT '0',
  `LastSquadAt` bigint DEFAULT NULL,
  PRIMARY KEY (`MemberID1`,`MemberID2`),
  KEY `idx_mf_member2` (`MemberID2`),
  CONSTRAINT `mf_fk_1` FOREIGN KEY (`MemberID1`) REFERENCES `members` (`MemberID`) ON DELETE CASCADE,
  CONSTRAINT `mf_fk_2` FOREIGN KEY (`MemberID2`) REFERENCES `members` (`MemberID`) ON DELETE CASCADE,
  CONSTRAINT `mf_chk_order` CHECK ((`MemberID1` < `MemberID2`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberrelicsubscriptions`
--

DROP TABLE IF EXISTS `memberrelicsubscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberrelicsubscriptions` (
  `MemberID` int NOT NULL,
  `RelicID` int NOT NULL,
  PRIMARY KEY (`MemberID`,`RelicID`),
  KEY `RelicID` (`RelicID`),
  CONSTRAINT `memberrelicsubscriptions_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberrelicsubscriptions_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberreputation`
--

DROP TABLE IF EXISTS `memberreputation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberreputation` (
  `MemberID` int NOT NULL,
  `Day` bigint unsigned NOT NULL DEFAULT '0',
  `Week` bigint unsigned NOT NULL DEFAULT '0',
  `Month` bigint unsigned NOT NULL DEFAULT '0',
  `ThreeMonth` bigint unsigned NOT NULL DEFAULT '0',
  `SixMonth` bigint unsigned NOT NULL DEFAULT '0',
  `Year` bigint unsigned NOT NULL DEFAULT '0',
  `AllTime` bigint unsigned NOT NULL DEFAULT '0',
  `LastUpdate` int NOT NULL,
  PRIMARY KEY (`MemberID`),
  CONSTRAINT `memberreputation_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `members` (
  `MemberID` int NOT NULL AUTO_INCREMENT,
  `DiscordID` bigint DEFAULT NULL,
  `MemberName` varchar(40) DEFAULT NULL,
  `AllowMerging` tinyint(1) NOT NULL DEFAULT '1',
  `HostLimit` int NOT NULL DEFAULT '10',
  `CycleDefault` int DEFAULT NULL,
  `Muted` bigint NOT NULL DEFAULT '0',
  `Badge` int DEFAULT NULL,
  `SquadChatTime` int DEFAULT '600',
  `Admin` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`MemberID`),
  UNIQUE KEY `DiscordID` (`DiscordID`),
  KEY `Badge` (`Badge`),
  CONSTRAINT `members_ibfk_1` FOREIGN KEY (`Badge`) REFERENCES `badges` (`ID`),
  CONSTRAINT `members_chk_1` CHECK (((`HostLimit` >= 1) and (`HostLimit` <= 50))),
  CONSTRAINT `members_chk_2` CHECK ((((`CycleDefault` >= 0) and (`CycleDefault` <= 50)) or (`CycleDefault` is null)))
) ENGINE=InnoDB AUTO_INCREMENT=739223 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberserverping`
--

DROP TABLE IF EXISTS `memberserverping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberserverping` (
  `MemberID` int NOT NULL,
  `ServerID` int NOT NULL,
  `PingTypeID` int NOT NULL,
  `Muted` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`MemberID`,`ServerID`,`PingTypeID`),
  KEY `memberserverping_relation_2` (`ServerID`),
  KEY `memberserverping_relation_3` (`PingTypeID`),
  CONSTRAINT `memberserverping_relation_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberserverping_relation_2` FOREIGN KEY (`ServerID`) REFERENCES `servers` (`ServerID`),
  CONSTRAINT `memberserverping_relation_3` FOREIGN KEY (`PingTypeID`) REFERENCES `pingtypes` (`PingID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberstatus`
--

DROP TABLE IF EXISTS `memberstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberstatus` (
  `MemberID` int NOT NULL,
  `ID` int NOT NULL,
  PRIMARY KEY (`MemberID`,`ID`),
  KEY `ID` (`ID`),
  CONSTRAINT `memberstatus_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `memberstatus_ibfk_2` FOREIGN KEY (`ID`) REFERENCES `status` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `memberusersubscriptions`
--

DROP TABLE IF EXISTS `memberusersubscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberusersubscriptions` (
  `MemberId` int NOT NULL,
  `SubMemberID` int NOT NULL,
  PRIMARY KEY (`MemberId`,`SubMemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `offcyclefriends`
--

DROP TABLE IF EXISTS `offcyclefriends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offcyclefriends` (
  `MemberID` int NOT NULL,
  `RelicID` int NOT NULL,
  `Runs` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`MemberID`,`RelicID`),
  KEY `RelicID` (`RelicID`),
  CONSTRAINT `offcyclefriends_ibfk_1` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `offcyclefriends_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pingtypes`
--

DROP TABLE IF EXISTS `pingtypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pingtypes` (
  `PingID` int NOT NULL AUTO_INCREMENT,
  `PingName` char(20) NOT NULL,
  PRIMARY KEY (`PingID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `primeparts`
--

DROP TABLE IF EXISTS `primeparts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `primeparts` (
  `PrimeSet` varchar(100) NOT NULL,
  `Part` varchar(100) NOT NULL,
  `Price` int NOT NULL,
  `Ducats` int NOT NULL,
  `Required` int NOT NULL,
  PRIMARY KEY (`PrimeSet`,`Part`),
  CONSTRAINT `primeparts_ibfk_1` FOREIGN KEY (`PrimeSet`) REFERENCES `primesets` (`PrimeSet`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `primesets`
--

DROP TABLE IF EXISTS `primesets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `primesets` (
  `PrimeSet` varchar(100) NOT NULL,
  `Price` int NOT NULL,
  `Ducats` int NOT NULL,
  `PrimeAccess` varchar(100) NOT NULL,
  `Category` varchar(100) NOT NULL,
  `Vaulted` tinyint(1) NOT NULL,
  PRIMARY KEY (`PrimeSet`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recruitmentchannels`
--

DROP TABLE IF EXISTS `recruitmentchannels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruitmentchannels` (
  `ChannelID` bigint NOT NULL,
  `ServerID` int NOT NULL,
  `FissurePostID` bigint DEFAULT NULL,
  `CycleDefault` int DEFAULT NULL,
  `ExcludeButtons` tinyint(1) DEFAULT '0',
  `MainChannel` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`ChannelID`),
  KEY `ServerID` (`ServerID`),
  CONSTRAINT `recruitmentchannels_ibfk_1` FOREIGN KEY (`ServerID`) REFERENCES `servers` (`ServerID`),
  CONSTRAINT `recruitmentchannels_chk_1` CHECK ((((`CycleDefault` >= 0) and (`CycleDefault` <= 50)) or (`CycleDefault` is null)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recruitmentfilters`
--

DROP TABLE IF EXISTS `recruitmentfilters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruitmentfilters` (
  `FilterID` int NOT NULL AUTO_INCREMENT,
  `FName` varchar(100) NOT NULL,
  `FDescription` varchar(255) DEFAULT NULL,
  `FInclude` tinyint NOT NULL,
  `FType` varchar(63) NOT NULL,
  `FFunction` varchar(63) NOT NULL,
  PRIMARY KEY (`FilterID`),
  UNIQUE KEY `FName` (`FName`)
) ENGINE=InnoDB AUTO_INCREMENT=5615 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recruitmentfiltersactive`
--

DROP TABLE IF EXISTS `recruitmentfiltersactive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruitmentfiltersactive` (
  `ChannelID` bigint NOT NULL,
  `FilterID` int NOT NULL,
  PRIMARY KEY (`ChannelID`,`FilterID`),
  KEY `FilterID` (`FilterID`),
  CONSTRAINT `recruitmentfiltersactive_ibfk_1` FOREIGN KEY (`FilterID`) REFERENCES `recruitmentfilters` (`FilterID`),
  CONSTRAINT `recruitmentfiltersactive_ibfk_2` FOREIGN KEY (`ChannelID`) REFERENCES `recruitmentchannels` (`ChannelID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `refinement`
--

DROP TABLE IF EXISTS `refinement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refinement` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicdefaults`
--

DROP TABLE IF EXISTS `relicdefaults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicdefaults` (
  `RelicID` int NOT NULL,
  `Popular` int NOT NULL DEFAULT '0',
  `Good` int NOT NULL DEFAULT '0',
  `Meta` int GENERATED ALWAYS AS ((`Popular` + `Good`)) VIRTUAL,
  `DefaultStyle` varchar(10) DEFAULT '4b4r',
  PRIMARY KEY (`RelicID`),
  CONSTRAINT `relicdefaults_ibfk_1` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicfriends`
--

DROP TABLE IF EXISTS `relicfriends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicfriends` (
  `MemberID` int NOT NULL,
  `RelicID` int NOT NULL,
  `SquadsTogether` int NOT NULL DEFAULT '0',
  `LastSquadAt` bigint DEFAULT NULL,
  PRIMARY KEY (`MemberID`,`RelicID`),
  KEY `idx_rf_relic` (`RelicID`),
  CONSTRAINT `rf_fk_member` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`) ON DELETE CASCADE,
  CONSTRAINT `rf_fk_relic` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicpairfriends`
--

DROP TABLE IF EXISTS `relicpairfriends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicpairfriends` (
  `RelicID1` int NOT NULL,
  `RelicID2` int NOT NULL,
  `Offcycle1` tinyint(1) NOT NULL DEFAULT '0',
  `Offcycle2` tinyint(1) NOT NULL DEFAULT '0',
  `SquadsTogether` int NOT NULL DEFAULT '0',
  `LastSquadAt` bigint DEFAULT NULL,
  PRIMARY KEY (`RelicID1`,`RelicID2`,`Offcycle1`,`Offcycle2`),
  KEY `idx_rpf_relic2` (`RelicID2`),
  CONSTRAINT `rpf_fk_1` FOREIGN KEY (`RelicID1`) REFERENCES `relics` (`ID`),
  CONSTRAINT `rpf_fk_2` FOREIGN KEY (`RelicID2`) REFERENCES `relics` (`ID`),
  CONSTRAINT `rpf_chk_order` CHECK ((`RelicID1` < `RelicID2`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicreleaseinfo`
--

DROP TABLE IF EXISTS `relicreleaseinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicreleaseinfo` (
  `relicID` int NOT NULL,
  `ReleaseDate` bigint DEFAULT NULL,
  `ReleasePatch` varchar(31) DEFAULT NULL,
  `VaultDate` bigint DEFAULT NULL,
  `VaultPatch` varchar(31) DEFAULT NULL,
  `Type` varchar(31) DEFAULT NULL,
  UNIQUE KEY `relicreleaseinfo_index_2` (`relicID`,`ReleaseDate`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicreputation`
--

DROP TABLE IF EXISTS `relicreputation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicreputation` (
  `RelicID` int NOT NULL,
  `Day` bigint unsigned NOT NULL DEFAULT '0',
  `Week` bigint unsigned NOT NULL DEFAULT '0',
  `Month` bigint unsigned NOT NULL DEFAULT '0',
  `ThreeMonth` bigint unsigned NOT NULL DEFAULT '0',
  `SixMonth` bigint unsigned NOT NULL DEFAULT '0',
  `Year` bigint unsigned NOT NULL DEFAULT '0',
  `AllTime` bigint unsigned NOT NULL DEFAULT '0',
  `LastUpdate` int NOT NULL,
  PRIMARY KEY (`RelicID`),
  CONSTRAINT `relicreputation_fk_relic` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relicroles`
--

DROP TABLE IF EXISTS `relicroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relicroles` (
  `RelicID` int NOT NULL,
  `ServerID` int NOT NULL,
  `RoleID` bigint NOT NULL,
  PRIMARY KEY (`RelicID`,`ServerID`),
  KEY `relicroles_relation_2` (`ServerID`),
  CONSTRAINT `relicroles_ibfk_1` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`),
  CONSTRAINT `relicroles_relation_2` FOREIGN KEY (`ServerID`) REFERENCES `servers` (`ServerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `relics`
--

DROP TABLE IF EXISTS `relics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relics` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Era` varchar(10) NOT NULL,
  `Name` varchar(10) NOT NULL,
  `Relic` varchar(20) GENERATED ALWAYS AS (concat(`Era`,_utf8mb4' ',`Name`)) VIRTUAL,
  `Vaulted` tinyint NOT NULL DEFAULT '0',
  `Common1` varchar(100) DEFAULT NULL,
  `Common2` varchar(100) DEFAULT NULL,
  `Common3` varchar(100) DEFAULT NULL,
  `Uncommon1` varchar(100) DEFAULT NULL,
  `Uncommon2` varchar(100) DEFAULT NULL,
  `Rare` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Era` (`Era`,`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=8219 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reputation_events`
--

DROP TABLE IF EXISTS `reputation_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reputation_events` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `memberid` bigint NOT NULL,
  `squadid` char(36) NOT NULL,
  `rep` int NOT NULL DEFAULT '1',
  `closedat` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_member_time` (`memberid`,`closedat`),
  KEY `idx_squad` (`squadid`)
) ENGINE=InnoDB AUTO_INCREMENT=1071617 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `serverblacklist`
--

DROP TABLE IF EXISTS `serverblacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `serverblacklist` (
  `BlacklistID` int NOT NULL,
  `ServerID` int NOT NULL,
  PRIMARY KEY (`BlacklistID`,`ServerID`),
  KEY `serverblacklist_relation_2` (`ServerID`),
  CONSTRAINT `serverblacklist_ibfk_1` FOREIGN KEY (`BlacklistID`) REFERENCES `members` (`MemberID`),
  CONSTRAINT `serverblacklist_relation_2` FOREIGN KEY (`ServerID`) REFERENCES `servers` (`ServerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `servers`
--

DROP TABLE IF EXISTS `servers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servers` (
  `ServerID` int NOT NULL AUTO_INCREMENT,
  `DiscordID` bigint NOT NULL,
  `ServerName` varchar(32) DEFAULT NULL,
  `SquadChannelID` bigint DEFAULT NULL,
  PRIMARY KEY (`ServerID`),
  UNIQUE KEY `servers_pk` (`DiscordID`)
) ENGINE=InnoDB AUTO_INCREMENT=193 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadhost`
--

DROP TABLE IF EXISTS `squadhost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadhost` (
  `SquadID` char(36) NOT NULL,
  `HostID` bigint NOT NULL,
  PRIMARY KEY (`SquadID`),
  KEY `idx_squadhost_host` (`HostID`),
  CONSTRAINT `squadhost_fk_host` FOREIGN KEY (`HostID`) REFERENCES `hosts` (`HostID`) ON DELETE RESTRICT,
  CONSTRAINT `squadhost_fk_squad` FOREIGN KEY (`SquadID`) REFERENCES `squads` (`SquadID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadposts`
--

DROP TABLE IF EXISTS `squadposts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadposts` (
  `SquadID` char(36) NOT NULL,
  `MessageID` bigint NOT NULL,
  `ChannelID` bigint NOT NULL,
  PRIMARY KEY (`SquadID`,`MessageID`),
  KEY `ChannelID` (`ChannelID`),
  KEY `SquadID` (`SquadID`),
  CONSTRAINT `squadposts_ibfk_1` FOREIGN KEY (`SquadID`) REFERENCES `squads` (`SquadID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadrefinement`
--

DROP TABLE IF EXISTS `squadrefinement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadrefinement` (
  `SquadID` char(36) NOT NULL,
  `RefinementID` int NOT NULL,
  `Offcycle` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`SquadID`,`RefinementID`,`Offcycle`),
  KEY `RefinementID` (`RefinementID`),
  KEY `SquadID` (`SquadID`),
  CONSTRAINT `squadrefinement_ibfk_1` FOREIGN KEY (`SquadID`) REFERENCES `squads` (`SquadID`) ON DELETE CASCADE,
  CONSTRAINT `squadrefinement_ibfk_2` FOREIGN KEY (`RefinementID`) REFERENCES `refinement` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadrelics`
--

DROP TABLE IF EXISTS `squadrelics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadrelics` (
  `SquadID` char(36) NOT NULL,
  `RelicID` int NOT NULL,
  `Offcycle` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`SquadID`,`RelicID`,`Offcycle`),
  KEY `RelicID` (`RelicID`),
  KEY `SquadID` (`SquadID`),
  CONSTRAINT `squadrelics_ibfk_1` FOREIGN KEY (`SquadID`) REFERENCES `squads` (`SquadID`) ON DELETE CASCADE,
  CONSTRAINT `squadrelics_ibfk_2` FOREIGN KEY (`RelicID`) REFERENCES `relics` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squads`
--

DROP TABLE IF EXISTS `squads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squads` (
  `SquadID` char(36) NOT NULL,
  `Style` varchar(10) DEFAULT NULL,
  `Era` varchar(10) DEFAULT NULL,
  `CycleRequirement` int DEFAULT NULL,
  `Host` int NOT NULL,
  `CurrentCount` int NOT NULL DEFAULT '1',
  `Filled` tinyint(1) NOT NULL DEFAULT '0',
  `UserMsg` varchar(1000) DEFAULT NULL,
  `CreatedAt` bigint NOT NULL,
  `Active` tinyint(1) NOT NULL DEFAULT '1',
  `OriginatingServer` int NOT NULL,
  `Rehost` tinyint(1) DEFAULT '0',
  `ClosedAt` bigint DEFAULT NULL,
  PRIMARY KEY (`SquadID`),
  KEY `Host` (`Host`),
  KEY `squads_relation_2` (`OriginatingServer`),
  KEY `idx_squads_filled_closedat` (`Filled`,`ClosedAt`),
  KEY `idx_squads_active_createdat` (`Active`,`CreatedAt`),
  CONSTRAINT `squads_ibfk_1` FOREIGN KEY (`Host`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadstest`
--

DROP TABLE IF EXISTS `squadstest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadstest` (
  `SquadID` char(36) NOT NULL,
  `Style` varchar(10) DEFAULT NULL,
  `Era` varchar(10) DEFAULT NULL,
  `CycleRequirement` int DEFAULT NULL,
  `Host` int NOT NULL,
  `CurrentCount` int NOT NULL DEFAULT '1',
  `Filled` tinyint(1) NOT NULL DEFAULT '0',
  `UserMsg` varchar(1000) DEFAULT NULL,
  `CreatedAt` bigint NOT NULL,
  `Active` tinyint(1) NOT NULL DEFAULT '1',
  `OriginatingServer` int NOT NULL,
  `Rehost` tinyint(1) DEFAULT '0',
  `ClosedAt` bigint DEFAULT NULL,
  PRIMARY KEY (`SquadID`),
  KEY `Host` (`Host`),
  KEY `squads_relation_2` (`OriginatingServer`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `squadusers`
--

DROP TABLE IF EXISTS `squadusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `squadusers` (
  `SquadID` char(36) NOT NULL,
  `MemberID` int NOT NULL,
  `ServerID` int NOT NULL,
  `AnonymousUsers` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`SquadID`,`MemberID`),
  KEY `MemberID` (`MemberID`),
  KEY `idx_squadusers_member_squad` (`MemberID`,`SquadID`),
  KEY `squadusers_relation_3` (`ServerID`),
  KEY `SquadID` (`SquadID`),
  CONSTRAINT `squadusers_ibfk_1` FOREIGN KEY (`SquadID`) REFERENCES `squads` (`SquadID`) ON DELETE CASCADE,
  CONSTRAINT `squadusers_ibfk_2` FOREIGN KEY (`MemberID`) REFERENCES `members` (`MemberID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `status`
--

DROP TABLE IF EXISTS `status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `status` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(10) NOT NULL,
  `DefaultStatus` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-25 17:22:16
